<html>
<head>
      <link href="static/css/login.css" rel="stylesheet">
</head>
<br>
<br>
    <div class="cont">
            <div class="form add Course">

                <label>
                    <span>Course Name</span>
                    <input type="text" />
                </label>
                <label>
                    <span>
                        Description
                    </span>
                     <input type="text" />
                </label>
                <button type="button" class="submit">submit</button>

            </div>
        </div>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>
</html>